# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Chili Framework 2016/v15/Browse.VC.db
/.vs/Chili Framework 2016/v15/Browse.VC.opendb
/.vs/Chili Framework 2016/v15/.suo
/.vs/LudumDare41/v15/.suo
/.vs/LudumDare41/v15/Browse.VC.db
/Engine/x64/Debug/Engine.tlog
/Engine/x64/Debug
